<settings>
  <General_Properties>
    <direction value="horizontal"/>
    <width value="891"/>
    <height value="80"/>
    <stretchWidth value="false"/>
    <stretchHeight value="false"/>
    <spacing value="30"/>
    <thumbWidth value="120"/>
    <thumbHeight value="80"/>
    <center value="true"/>
    <offset value="50"/>
    <preloader value="swf/tiendas/assets/redstripes.swf"/>
    <useLightbox value="false"/>
    <assets value="images.xml"/>
	<showLogo value="false"/>
    <showAbout value="false"/>
  </General_Properties>
  <Scroll_Properties>
    <scrollMode value="infinite"/>
    <scrollOnRollOver value="images"/>
    <onRollOverSpeed value="10"/>
    <onRollOutSpeed value="3"/>
    <stoppingSpeed value="60"/>
    <stopOnRollOver value="false"/>
    <inverseScrolling value="none"/>
    <buttonScrollMode value="pixel by pixel"/>
    <buttonImage value="assets/arrow1.png"/>
    <buttonsX value="151"/>
    <buttonsY value="175"/>
    <buttonDistance value="302"/>
  </Scroll_Properties>
  <Expand_Properties>
    <direction value="center"/>
    <percent value="25"/>
    <func value="Back"/>
    <method value="easeIn"/>
    <duration value="0.6"/>
  </Expand_Properties>
  <Roll_Over_Properties>
    <rollOverBehaviour value="smooth"/>
    <brightnessOver value="0"/>
    <brightnessOut value="0"/>
    <brightnessSpeed value="7"/>
  </Roll_Over_Properties>
  <Background_Properties>
    <fillType value="solid"/>
    <backgroundColor1 value="0xffffff"/>
    <backgroundColor2 value=""/>
    <backgroundAlpha value="0"/>
    <bgCornerRadius value="0"/>
    <gradientRotation value="0"/>
    <gradientRatio value="0"/>
    <gradientPosX value="0"/>
    <gradientPosY value="0"/>
  </Background_Properties>
  <Shade_Properties>
    <useShade value="false"/>
    <shadeColor value=""/>
    <shadeAlpha value="0"/>
    <shadeRatio value="0"/>
    <shadeWidth value="0"/>
    <shadeHeight value="0"/>
  </Shade_Properties>
  <Frame_Properties>
    <color value="0xffffff"/>
    <width value="0"/>
    <alpha value="0"/>
  </Frame_Properties>
  <Reflection_Properties>
    <useReflection value="false"/>
    <reflectionDistance value="25"/>
    <reflectionAlpha value="0.3"/>
    <reflectionSpread value="116.3"/>
  </Reflection_Properties>
  <Tooltip_Properties>
    <position value="followMouse"/>
    <delay value="0.3"/>
    <distance value="3"/>
    <padding value="5"/>
    <cornerRadius value="2"/>
    <appearance value="center"/>
    <easingFunction value="Strong"/>
    <easingDuration value="0.3"/>
    <fontFace value="verdana"/>
    <fontSize value="13"/>
    <fontColor value="16777215"/>
    <backColor value="5592405"/>
    <backColor2 value="11184810"/>
    <backAlpha value="0.9"/>
    <borderColor value="11184810"/>
    <borderThickness value="1"/>
    <useArrow value="true"/>
    <arrowPos value="center"/>
    <arrowSize value="5"/>
    <embedFonts value="false"/>
  </Tooltip_Properties>
</settings>